[submodule "libOpenACC"]
	path = libOpenACC
	url = git@github.com:tristanvdb/libOpenACC.git
[submodule "rose"]
	path = rose
	url = git@github.com:tristanvdb/rose-for-openacc-to-opencl-compiler.git
[submodule "examples"]
	path = examples
	url = git@github.com:tristanvdb/RoseACC-examples.git
[submodule "tests"]
	path = tests
	url = git@github.com:tristanvdb/RoseACC-tests.git
[submodule "RoseACC"]
	path = RoseACC
	url = git@github.com:tristanvdb/RoseACC.git
